.section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 24px;
    backdrop-filter: blur(80px);
    background-color: rgb(0 0 0 / 20%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.section.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.section__container {
    align-self: flex-start;
}
.section__title {
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-size: 12vw;
    font-style: italic;
    letter-spacing: -0.3vw;
    line-height: 90%;
    color: transparent;
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: white;
}
.section__text {
    color: white;
    width: 30%;
    min-width: 300px;
    margin-top: 24px;
}

.section__button {
    margin: 0 0 12px;

}

.section__img {
    width: 100%;
}


@media screen and (max-width: 600px) {
    .section__title {
        font-size: 22vw;
    }
    .section__text {
        font-size: 16px;
    }
}